body {
  background: #f8f8f8;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.trainer-card {
  background: #ffffff;
  border: 3px solid #333;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  text-align: center;
}

#trainer-sprite {
  height: 100px;
}

#pokemon-team {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon img {
  height: 64px;
}

.controls {
  display: flex;
  justify-content: space-between;
}
